<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <search/>
  </div>
</template>

<script>
// @ is an alias to /src
import Search from "@/components/Search";

export default {
  name: 'Home',
  components: {
    search:Search
  }
}
</script>
