<template>
        <v-navigation-drawer
                v-model="drawer"
                :app="app"
                dark
                expand-on-hover
                permanent>
            <v-list-item>
                <v-list-item-content>
                    <v-list-item-title class="title">
                        Application
                    </v-list-item-title>
                    <v-list-item-subtitle>
                        subtext
                    </v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>

            <v-divider></v-divider>

            <v-list
                    dense
                    nav
            >
                <v-list-item
                        v-for="item in items"
                        :key="item.title"
                        link
                        :to="item.route"
                >
                    <v-list-item-icon>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

</template>

<script>

    export default {
        name: "NavigationDrawer",
        data() {
            return {
                app:true,
                drawer: true,
                items : [
                    {title: 'Home', icon: 'mdi-home', route:'/'},
                    {title: 'Account', icon: 'mdi-account', route:'/account'},
                    {title: 'About', icon: 'mdi-book', route:'/about'},
                    {title: 'Appointments', icon: 'mdi-calendar', route: '/appointments'}
                ]
            }
        }
    }
</script>

<style scoped>

</style>