<template>
    <div>
        <h1>THIS PAGE IS CURRENTLY UNDER CONSTRUCTION</h1>
    </div>
</template>

<script>
    export default {
        name: "PageUnderConstruction"
    }
</script>

<style scoped>

</style>