<template>
    <v-container>
        <v-autocomplete
                v-model="searchedSubject"
            label="Search for a subject"
            flat
        >

        </v-autocomplete>

    </v-container>
</template>

<script>
    //import axios from 'axios';

    export default {
        name: "Search",
        data() {
            return {
                searchedSubject: '',
                isLoading: false,
                subjects: []
            }
        },
        watch : {
            search(val){

                this.$log.info(val);
               //TODO: search for subjects
            }
        }
    }
</script>

<style scoped>

</style>